 CREATE TABLE VMS.SWADESH_MANCHU (ID NUMBER, ENG_WORD VARCHAR2(20), WORD VARCHAR2(100) );
 
 ALTER TABLE VMS.SWADESH_MANCHU ADD PRIMARY KEY (ID);
 
-- INSERT INTO VMS.SWADESH_MANCHU (ID, ENG_WORD, WORD) VALUES ('No', 'English', 'Manchu');
INSERT INTO VMS.SWADESH_MANCHU (ID, ENG_WORD, WORD) VALUES ('1', 'I', 'bi');
INSERT INTO VMS.SWADESH_MANCHU (ID, ENG_WORD, WORD) VALUES ('2', 'you (sing.)', 'si');
INSERT INTO VMS.SWADESH_MANCHU (ID, ENG_WORD, WORD) VALUES ('3', 'he', '"i, tere"');
COMMIT;
